/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/wookflow Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {


    // ************************ this needs to be moved to its own config later ************************
    // BIPS_THEN_DOLPHYN
    // mode = "bips_then_dolphyn" // Default mode
    mode = null // Default mode

    input_viral_seqs_dir = null // New parameter for BIPS modes ( bips_then_dolphyn, bips_only), expects a directory path
    input_protein_fasta_dir = null // For dolphyn_standalone mode
    input_oligos_fasta_dir = null // For dolphyn_oligo_only (if input is pre-cut oligos in FASTA)
    input_oligos_csv_dir = null // For dolphyn_oligo_only (if input is pre-cut oligos in CSV)

    outdir = "results"
    bips_root_dir = "${projectDir}/vendor/BuildPhIPSeqLibrary"
    dolphyn_root_dir = "${projectDir}/vendor/Dolphyn"
    
    // Assuming dolphyn package is vendor/Dolphyn/dolphyn/ and trainingdata is vendor/Dolphyn/dolphyn/trainingdata/
    dolphyn_package_path = "${projectDir}/vendor/Dolphyn" // Path to add to PYTHONPATH
    dolphyn_training_data_dir = "${projectDir}/vendor/Dolphyn/dolphyn/trainingdata"
    helper_script = "${projectDir}/bin/bipsThenDolphyn.py"

    // BIPS output file names (relative to BIPS Data/Output/)
    bips_oligos_sequence_csv_name = "oligos_sequence.csv"
    bips_barcoded_nuc_file_csv_name = "barcoded_nuc_file.csv"
    // ************************ ******************************************** ************************
    
    
    // TODO nf-core: Specify your pipeline's command line flags
    // Input options (Currently not used here)
    input                      = null
    
    // define trace timestamp
    trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')   

    // Boilerplate options
    outdir                     = env('PWD')
    publish_dir_mode           = 'copy'
    email                      = null
    email_on_fail              = null
    plaintext_email            = false
    monochrome_logs            = false
    hook_url                   = null
    help                       = false
    version                    = false    

    // Max resource options
    // Defaults only, expecting to be overwritten    
    max_memory                 = '32.GB'
    max_cpus                   = 16
    max_time                   = '240.h'

    // Schema validation default options
    // validationFailUnrecognisedParams = false
    // validationLenientMode            = false
    // validationSchemaIgnoreParams     = 'genomes,igenomes_base'
    // validationShowHiddenParams       = false
    // validate_params                  = true

    // Set some defaults to avoid warnings.
    // These params will be properly overwritten whhen
    // the correct profile is invoked.
    out_path = null
}

// Function to ensure that resource requirements don't go beyond a maximum limit
// NOTE: changed to using params.checkmax because newer nextflow versions
// don't allow def function declaration anymore
process {
    resourceLimits = [
        cpus: params.max_cpus,                                 // Replaces params.max_cpus
        memory: params.max_memory as nextflow.util.MemoryUnit, // Replaces params.max_memory
        time: params.max_time as nextflow.util.Duration        // Replaces params.max_time
    ]
}

// Load base.config by default for all pipelines mostly to handle base computing resources given 
// the resource resource limits and user input tweaking
includeConfig 'conf/base.config'

profiles {
    // Pipeline modes
    virscan{
        params.runtype = "virscan"        
        params.run_AVARDA = false              // runs phippery in virscan mode and AVARDA is optional        
        includeConfig 'conf/phippery.config'        // include phippery params
        includeConfig 'conf/avarda.config'            // include avarda params 
    }    
    huscan{        
        params.runtype = "huscan"        
        includeConfig 'conf/cutadapt.config'
        includeConfig 'conf/phippery.config'        // load default phippery params
    }
    avarda_only{
        params.runtype = "avarda_only"
        params.run_AVARDA = true
        includeConfig 'conf/avarda.config'        // load default avarda params
    }    
    
    
    // Execution Environments to attach to pipeline modes
    conda {
        conda.enabled = true        
        params.channels = ['conda-forge', 'bioconda', 'defaults']        
    }    
    docker {
        docker.enabled = true        
        // docker.runOptions  = '-u $(id -u):$(id -g)'
    }    
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true        
    }
    apptainer {
        apptainer.enabled = true    
        apptainer.autoMounts = true
    }    

    // Other special modes for specific conditions (not used in normal usage)
    standard{
        //empty        
    }
    debug {
        dumpHashes = true
        process.beforeScript = 'echo $HOSTNAME'
        cleanup = false
        nextflow.enable.configProcessNamesValidation = true
    }
    test { 
        includeConfig 'conf/test.config'      
    }
    test_full { 
        includeConfig 'conf/test_full.config' 
    }
}

// Nextflow plugins
plugins {
    id 'nf-validation@1.1.3' // Validation of pipeline parameters and creation of an input channel from a sample sheet
    // id 'nf-schema@2.7.2' // to be updated later with newer nextflow versions
}

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.
env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_timestamp}.html"
}

manifest {
    name            = 'nf-core/wookflow'
    author          = """Preston Leung"""
    homePage        = 'https://github.com/nf-core/wookflow'
    description     = """Virome Toolkit with Phippery and AVARDA"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0dev'
    doi             = ''
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'



// *****************************************************************
// Old config codes that aren't in use but may be re-used later
// *****************************************************************

// MAY DELETE THIS CONFIG LATER
// Note to self:
// max_memory defines the ceiling of memory allowed for the run.
// profiles can define what the usage of memory is for each allocated process.
// if a profile tries to use memory > than max_memory, it will limit it to max_memory

// try {
//     includeConfig 'conf/bips_dolphyn.config'
// } catch (Exception e) {
//     System.err.println("WARNING: Could not load 'conf/local.config' config file.")
// }

// Load nf-core custom profiles from different Institutions
// try {
//     includeConfig "${params.custom_config_base}/nfcore_custom.config"
// } catch (Exception e) {
//     System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
// }

// Load nf-core/wookflow custom profiles from different institutions.
// Warning: Uncomment only if a pipeline-specific institutional config already exists on nf-core/configs!
// try {
//   includeConfig "${params.custom_config_base}/pipeline/wookflow.config"
// } catch (Exception e) {
//   System.err.println("WARNING: Could not load nf-core/config/wookflow profiles: ${params.custom_config_base}/pipeline/wookflow.config")
// }


// Load igenomes.config if not ignoring. If ignore then load an empty hashmap
// if (!params.igenomes_ignore) {
//     includeConfig 'conf/igenomes.config'
// } else {
//     params.genomes = [:]
// }

// Set default registry for Apptainer, Docker, Podman and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Singularity are enabled
// Set to your registry if you have a mirror of containers
// apptainer.registry   = 'quay.io'
// docker.registry      = 'docker.io'
// podman.registry      = 'quay.io'
// singularity.registry = 'quay.io'


// params{
    // References
    // genome                     = null
    // igenomes_base              = 's3://ngi-igenomes/igenomes/'
    // igenomes_ignore            = false
    // fasta                      = null// MultiQC options
    // multiqc_config             = null
    // multiqc_title              = null
    // multiqc_logo               = null
    // max_multiqc_email_size     = '25.MB'
    // multiqc_methods_description = null
    
    // Config options
    // config_profile_name        = null
    // config_profile_description = null
    // custom_config_version      = 'master'
    // custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    // config_profile_contact     = null
    // config_profile_url         = null
// }

// *****************************************************************