/*
* Config for running avarda
*/

params{
    // *************************************
    // avarda input params (default)       *
    // *************************************
    
    // All inputs can be modified during cmd line input by user

    // input 1
    case_path = "$projectDir/subworkflows/local/AVARDA/data/example_input/AVARDA_test_data.tsv.gz"
    
    // input 2
    threshold = 1
    
    // input 3
    dict_path = "$projectDir/subworkflows/local/AVARDA/data/dict_path/my_df.csv.gz"
    
    // input 4
    total_path = "$projectDir/subworkflows/local/AVARDA/data/total_path/total_probability_xr2.csv.gz"
    
    // input 5    
    pairwise_path = "$projectDir/subworkflows/local/AVARDA/data/pairwise_path/unique_probabilities3.csv.gz"
    
    // input 6
    blast_path = "$projectDir/subworkflows/local/AVARDA/data/blast_path/VirScan_filtered_virus_blast_new.csv.gz"
    
    // input 7
    out_path = "$launchDir/avarda_results/"
    
    // input 8
    out_name = "AVARDA_Output_"
    
    // input 9
    avarda_names = "$projectDir/subworkflows/local/AVARDA/data/avarda_names/avarda_names.csv.gz"

    
}

process{
    withName: 'AVARDAOUT' {
        container = 'docker.io/pdawgzgg/avarda_r_env:0.1'
    }
}