/*
* Config for running cutadapt
*/


params{
    // *************************************
    // Cutadapt input params               *
    // *************************************

    // All inputs can be modified during cmd line input by user
    r1_adapters = "$projectDir/subworkflows/local/cutadapt/adapter_files/huScan_r1_adapters.fa"
    r2_adapters = "$projectDir/subworkflows/local/cutadapt/adapter_files/huScan_r2_adapters.fa"       
    
}


process{
    withName: 'CUTADAPT_WORKFLOW' {
        container = 'docker.io/pdawgzgg/phip-flow-pres:pres-v2'
    }
}