/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    // Default publishing configuration for any processes. Will copy outputs of the PROCESS.
    // Using the process name (task.process) e.g. "NFCORE_WOOKFLOW:WOOKFLOW:PHIPPERY:ALIGN:generate_index (1)"
    // it will split it via ":" and take the last element (task.process.tokenize(':')[-1]):
    //      -> "generate_index(1)"
    // Then it will split it again using '_', take the first element and make it lower case:
    //      -> "generate"
    // This will be the folder name where the outputs will be copied into. 
    // params.publish_dir_mode by defaul (in nextflow.config) is set to 'copy', and params.outdir
    // is set to '$PWD'. Here for my purposes, I don't need that so it has been commented out.

    // publishDir = [
    //     path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
    //     mode: params.publish_dir_mode,
    //     saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    // ]

    // withName: FASTQC {
    //     ext.args = '--quiet'
    // }

    // withName: CUSTOM_DUMPSOFTWAREVERSIONS {
    //     publishDir = [
    //         path: { "${params.outdir}/pipeline_info" },
    //         mode: params.publish_dir_mode,
    //         pattern: '*_versions.yml'
    //     ]
    // }

    // withName: 'MULTIQC' {
    //     ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
    //     publishDir = [
    //         path: { "${params.outdir}/multiqc" },
    //         mode: params.publish_dir_mode,
    //         saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    //     ]
    // }
    

}
