/*
* Config for phippery
*/

manifest {
    description = 'PhIP-Seq common analysis workflows'
    nextflowVersion = '>= 20.07.0'
}

// PIPELINE KNOBS
// Here define the params that are going to be used when a profile (at nextflow.config)
// has been called that uses phippery.
// All inputs can be modified during cmd line input by user

params{   
    // **********************************
    // Some default input files         *
    //***********************************
    sample_table = "$projectDir/subworkflows/local/phippery/data/pan-cov-example/sample_table_with_beads_and_lib.csv"      // a default sample table included with phip-flow pipeline for test runs
    peptide_table = "$projectDir/subworkflows/local/phippery/data/pan-cov-example/peptide_table.csv"                       // A default peptide table included with phip-flow pipeline for test runs
    reads_prefix = "$projectDir/subworkflows/local/phippery"                                                               // Not really used. Can be removed later
    
    // **********************************
    // Other available option(s)        *
    // **********************************
    dataset_prefix = 'data'                 // the name of .phip file. E.g. data.phip
    user_pep_id = "WOOKSCAN_000"     // Prefix of user_pep_id for AVARDA's use
    fastq_stream_func = 'zcat'              // sample read options. Set this as 'cat' if fastq files not g'zipped. Change to 'gzcat' if you're on macOS.   

    // **************************
    // Output file type options *  
    // **************************    
    output_tall_csv = true                      // dish out tall (long) format csv
    output_pickle_xarray = true                 // Output Xarray pickle (.phip file)
    output_wide_csv = true                      // Output wide format ds
    results = "$launchDir/phippery_results"           // default output dir is current dir
        
    // *************************************
    // Alignment options bowtie            *
    // *************************************        
    oligo_tile_length = 117                                                                 // peptide oligo encoding length for alignment
    read_length = 125                                                                       // read length for alignment
    n_mismatches = 2                                                                        // mismatches allowed (end-to-end)
    replicate_sequence_counts = true                                                        // Flag for replicating counts for replicate sequences    
    bowtie_optional_args = '--tryhard --nomaqround --norc --best --sam --quiet'             // other bowtie options
    
    // *************************************
    // Alignment options bowtie2 (WIP)     *
    // *************************************        
    // bowtie2 options - note read length and reference (oligo_tile_length) 
    // will be automatically worked out by bowtie2
    bowtie_2_optional_args = '--norc --quiet --end-to-end --sensitive'                       // bowtie2 options set similar to bowtie
    bowtie_2_trim3 = 0                                                                       // bowtie2 option to set trim 3'
    
    // ************************************* 
    // Switching analysis workflows on/off * 
    // ************************************* 
    run_zscore_fit_predict = true       // true to run zscore workflow
    run_cpm_enr_workflow = false        // true to run counts per million workflow
    run_edgeR = true                    // true to run edgeR
    run_BEER = false                    // true to run BEER statistics. WARNING: This functionality has not been fully tested

    // ********************************************
    // Grouping peptides by species or categories *
    // ********************************************    
    summarize_by_organism = false                                                // turn on summarise peptide detection by organism
    max_overlap = 7                                                             // Maximum allowed overlap between detected peptides    
    zscore_threshold = 2.5                                                      // Minimum z-score threshold    
    edgeR_threshold = 0.05                                                      // Maximum edgeR threshold (BH-adjusted p-value)
    peptide_org_col = "Species"                                                 // Column in the peptide table indicating the organism for each peptide
    sample_grouping_col = "sample_source"                                       // Column in the sample table used for mapping replicates to samples
    peptide_seq_col = "Prot"                                                    // Column in the peptide table containing the peptide sequence (For matching known epitopes & filter overlapping peptides)
    public_epitopes_col = "peptide_translate"                                   // Column name containing the translated amino acid sequence for known epitopes
    public_epitopes_csv = "$projectDir/templates/public_epitope_template.csv"   // directory for storing known epitopes to check alignment with peptides (Optional)

    
}

// Set the container which can be used for phippery runs
process {

    // Default for any processes which do not match the selectors below
    // container = 'quay.io/hdc-workflows/phippery:1.2.0'    
    // container = 'quay.io/matsengrp/phip-flow:latest'
    container = 'docker.io/pdawgzgg/phip-flow-pres:pres-v2'
    
    withName: 'run_edgeR|run_BEER' {
        //container = 'quay.io/biocontainers/bioconductor-beer:1.2.0--r42hdfd78af_0'
        container = 'quay.io/biocontainers/bioconductor-beer:1.10.0--r44hdfd78af_0'
    }    
}


// Below profiles were phip-flow originals. Kept for possible
// future change, but currently not in use (all commented out)
// profiles {

    // Run locally assuming all deps available in current environment
    // standard {
        
    // }

    // Run locally assuming docker is installed with the latest image
    // docker {
    //     docker.enabled = true
    // }

    // Run batch submission assuming docker is installed with the latest image
    // cluster {

    //     singularity {
    //         enabled = true
    //         autoMounts = true
    //         cacheDir = 'singularity_cache' 
    //         runOptions = '--contain -W /tmp/'
    //     }

    //     process {
    //         executor = 'slurm'
    //         queue = 'campus-new'
    //         cpus = 1
    //         memory = 16.GB
    //         time = '1h'
    //         clusterOptions = '-A overbaugh_j'
    //         withLabel: mem_large { memory = 48.GB }
    //         withLabel: mem_xlarge { memory = 64.GB }
    //     }
    // }
//}
