/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/wookflow -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/


params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input  = 'https://raw.githubusercontent.com/nf-core/test-datasets/viralrecon/samplesheet/samplesheet_test_illumina_amplicon.csv'

    // Genome references
    genome = 'R64-1-1'
}

/*
params {
    // Override parameters for testing purposes
    max_cpus = 2
    max_memory = '6.GB'
    max_time = '6.h'

    // --- ADD YOUR TEST PARAMETERS HERE ---
    // Specify the mode you want to test
    mode = 'bips_then_dolphyn' 

    // Provide a small, test input file that is part of the repository
    // It's best practice to add a small test file to your project, e.g., in assets/test_data/
    input_viral_seqs_dir = "${projectDir}/assets/bips_test_data"
    outdir = "${projectDir}/test_results_bips_then_dolphyn"
}*/

/*
params {
    // Override parameters for testing purposes
    max_cpus = 2
    max_memory = '6.GB'
    max_time = '6.h'

    // --- ADD YOUR TEST PARAMETERS HERE ---
    // Specify the mode you want to test
    mode = 'bips_only'

    // Provide a small, test input file that is part of the repository
    // It's best practice to add a small test file to your project, e.g., in assets/test_data/
    input_viral_seqs_dir = "${projectDir}/assets/bips_test_data"
    outdir = "${projectDir}/test_results_bips_only"
}*/

/*
params {
    // Override parameters for testing purposes
    max_cpus = 2
    max_memory = '6.GB'
    max_time = '6.h'

    // --- ADD YOUR TEST PARAMETERS HERE ---
    // Specify the mode you want to test
    mode = 'dolphyn_standalone'

    // Provide a small, test input file that is part of the repository
    // It's best practice to add a small test file to your project, e.g., in assets/test_data/
    input_protein_fasta_dir = "${projectDir}/assets/bips_test_data"
    outdir = "${projectDir}/test_results_dolphyn_standalone"
}*/


/*
params {
    // Override parameters for testing purposes
    max_cpus = 2
    max_memory = '6.GB'
    max_time = '6.h'

    // --- ADD YOUR TEST PARAMETERS HERE ---
    // Specify the mode you want to test
    mode = 'dolphyn_oligo_only'

    // Provide a small, test input file that is part of the repository
    // It's best practice to add a small test file to your project, e.g., in assets/test_data/
    input_oligos_csv_dir = "${projectDir}/assets/oligo_csv"
    outdir = "${projectDir}/test_results_dolphyn_oligo_only_csv"
}*/

/*
params {
    // Override parameters for testing purposes
    max_cpus = 2
    max_memory = '6.GB'
    max_time = '6.h'

    // --- ADD YOUR TEST PARAMETERS HERE ---
    // Specify the mode you want to test
    mode = 'dolphyn_oligo_only'

    // Provide a small, test input file that is part of the repository
    // It's best practice to add a small test file to your project, e.g., in assets/test_data/
    input_oligos_fasta_dir = "${projectDir}/assets/oligo_fa"
    outdir = "${projectDir}/test_results_dolphyn_oligo_only_fasta"
}*/



